@use "./variables" as *;


@mixin regularText {
    font-size: $regular-text-size;
    color: $color;
    font-family: $main-font;
}

@mixin headingSharedStyle {
    color: $color;
    font-family: $main-font;
    font-weight: 700;
}

@mixin h1 {
    font-size: $h1-size;
    @include headingSharedStyle;

}

@mixin h2 {
    font-size: $h2-size;
    @include headingSharedStyle;
}

@mixin h3 {
    font-size: $h3-size;
    @include headingSharedStyle;
}

@mixin h4 {
    font-size: $h4-size;
    @include headingSharedStyle;
}